header {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15%;
  color: white;
  padding-top: 4rem;
}

h2 {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 15%;
  font-style: italic;
  line-height: 80%;
}

#play header,
.play-filters {
  background-color: #80917f;
}

#eat header {
  background-color: #be9469;
}

#stay header {
  background-color: #a27293;
}

#move header {
  background-color: #728ba2;
}

#faq header {
  background-color: #72a298;
}

#page-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 2rem 12%;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  gap: 1rem;
  height: fit-content;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#filter-options-container {
  display: flex;
  flex-direction: column;
}

#budget-container {
  margin-bottom: 0.8rem;
}

.filters h5 {
  text-align: center;
}

.filters h6 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 3px;
}

.option {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.option p {
  font-size: 0.9rem;
  font-weight: 300;
}

.filters input[type='text'] {
  padding: 3px 6px;
  border-radius: 3px;
  border: none;
  font-size: 0.75rem;
}

.filters input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
}

.filters button {
  width: 60%;
  padding: 3px 1.5rem;
  align-self: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  cursor: pointer;
}

.filters button:hover {
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.3s;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1.5rem;
}
