header {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15%;
  color: white;
  padding-top: 4rem;
}

h2 {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 15%;
  font-style: italic;
  line-height: 80%;
}

#play header,
.play-filters,
#play #pagination-container button:not(:disabled):hover {
  background-color: #80917f;
}

#play #pagination-container button:not(:disabled) {
  background-color: hsl(117, 11%, 88%);
}

#eat header {
  background-color: #be9469;
}

#stay header {
  background-color: #a27293;
}

#move header {
  background-color: #728ba2;
}

#faq header {
  background-color: #72a298;
}

#page-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 12%;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  gap: 1rem;
  height: fit-content;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#filter-options-container {
  display: flex;
  flex-direction: column;
}

#budget-container {
  margin-bottom: 0.8rem;
}

.filters h5 {
  text-align: center;
}

.filters h6 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 3px;
}

.option {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.option p {
  font-size: 0.9rem;
  font-weight: 300;
}

.filters input[type='text'] {
  padding: 3px 6px;
  border-radius: 3px;
  border: none;
  font-size: 0.75rem;
}

.filters input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
}

#filter-button-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
}

#filter-button-container button {
  font-size: 0.8rem;
  cursor: pointer;
  align-self: center;
  border: none;
  transition: 0.3s;
}

#filter-button-container button:first-of-type {
  width: 60%;
  padding: 3px 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#filter-button-container button:first-of-type:hover {
  font-weight: 700;
  letter-spacing: 2px;
}

#filter-button-container button:last-of-type {
  width: fit-content;
  background: none;
  text-decoration: underline;
}

#filter-button-container button:last-of-type:hover {
  color: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  min-width: fit-content;
  max-width: 100%;
  gap: 1.5rem;
}

#pagination-container {
  grid-column: 1/-1;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

#pagination-container button {
  font-size: 1.5rem;
  padding: 0 0.8rem;
  border: none;
  font-weight: 700;
  border-radius: 2px;
}

#pagination-container button:not(:disabled):hover {
  color: white !important;
  transition: 0.3s;
  cursor: pointer;
}

#pagination-container button:disabled {
  transition: none;
  background-color: rgb(244, 244, 244);
  cursor: default;
}
